@import './hamburgers';

:root {
  --h1: clamp(2.00rem, calc(1.71rem + 1.43vw), 3.00rem);
  --h2: clamp(1.75rem, calc(1.61rem + 0.71vw), 2.25rem);
  --article-link: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
  --card-heading: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
  --article-paragraph: clamp(0.88rem, calc(0.84rem + 0.18vw), 1.00rem);
  --paragraph-font-size: clamp(1.00rem, calc(0.96rem + 0.18vw), 1.13rem);
  --blue: hsl(233, 26%, 24%);
  --gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --container-width: min(100% - 2rem, 75rem);
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  body > * {
    animation: none !important;
  }
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  background: var(--white);
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
body * {
  outline-offset: 0.3rem;
}
// skip link
  .skip {
    position: absolute;
    top: -100%;
    left: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--blue);
    background: var(--white);
    font-weight: 700;
    font-size: 1rem;
    outline: 3px dashed var(--blue);
    &:focus {
      top: 4rem;
    }
  }
// nav bar
body.nav__open {
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  &__container {
    width: var(--container-width);
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
  }

  .logo {
    background-image: url("../assets/logo.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 139px;
  }

  .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(hsla(233, 26%, 24%, 0.9), hsla(233, 26%, 24%, 0.6));
    border-radius: 5px;

    &.open {
      transform: scale(1, 1);
    }

    &__list {
      margin: 1rem 0 0 1rem;
      width: calc(100% - 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0;
      background-color: var(--very-light-gray);
      list-style-type: none;
      border-radius: 5px;
    }

    &__item:not(:nth-child(5)) {
        margin-bottom: 1rem;
      }
      
      &__link {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--blue);
      }
    }
    .btn {
      display: none;
    }
}
.heading {
  font-weight: 400;
  color: var(--blue);
}
.paragraph {
  font-weight: 300;
  color: var(--grayish-blue);
  font-size: var(--paragraph-font-size);
}

.section__heading {
  font-size: var(--h2);
  margin-bottom: 2rem;
}
img {
  max-width: 100%;
}
section:not(:first-child) {
  margin-top: 5rem;
}
body::before {
  content: '';
  background-image: url("../assets/bg-intro-mobile.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
// banner
.banner {
  width: var(--container-width);
  margin-inline: auto;
  &__content {
    margin-top: 100%;
    text-align: center;
  }
  &__heading {
    font-size: var(--h1);
  }

  .heading_sub {
    margin: 1rem 0;
  }

  &__link {
    display: inline-block;
    margin-top: 0.5rem;
  }
  .img {
    position: absolute;
    top: -20px;
    right: 0;
  }
}
.btn {
  background: var(--gradient);
  padding: 0.5rem 2rem;
  border-radius: 50px;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

// why us 

.why__us {
  background-color: var(--light-grayish-blue);
  .paragraph {
    max-width: 50ch;
    margin: 0 auto;
  }
  &__content {
    padding: 3rem 0;
    width: var(--container-width); 
    margin-inline: auto;
    text-align: center;
  }
  .cards {
    margin-top: 3rem;
  }
  .card {
    list-style-type: none;
    margin-bottom: 3rem;
    &__heading {
      margin: 1rem 0;
      font-size: var(--card-heading);
    }
  }
}
.lastest__articles {
  padding: 3rem 0;
  text-align: center;
  .articles {
    width: var(--container-width);
    text-align: left;
    margin-inline: auto;
  }
  .article {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.1);
    margin-bottom: 2rem;
    &__link {
      font-size: var(--article-link);
      text-decoration: none;
    }
    &__text {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      gap: 1rem;
      padding: 1.5rem;
    }
    &__img {
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      height: 150px;
      object-fit: cover;
    }
    &__paragraph {
      font-size: var(--article-paragraph);
    }
  }
  .author {
    grid-row: 1/2;
    color: var(--grayish-blue);
    font-size: 12px;
  }
}
.footer {
  background-color: var(--blue);
  &__container {
    display: grid;
    place-items: center;
    width: var(--container-width);
    gap: 2rem;
    padding: 3rem 0;
    margin-inline: auto;
    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__icon {
        color: var(--white);
        margin: 0 0.5rem;
        height: 24px;
        width: 24px;
        font-size: 24px;
      }
    }
    .hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap; /* added line */
      border: 0;
    }
    .footer {
      &__logo {
        background-image: url("../assets/logo-footer.svg");
        background-repeat: no-repeat;
        height: 20px;
        width: 139px;
      }
      &__item {
        list-style-type: none;
        text-align: center;
        margin-bottom: 1rem;
      }
      &__link {
        text-decoration: none;
        color: var(--white);
      }
    }
    .copyright {
      color: var(--grayish-blue);
    }
    .btn {
      padding: 0.7rem 2rem;
    }
    .attribution {
      text-align: center;
      color: var(--grayish-blue);
      font-size: 0.8rem;
      a {
        color: var(--white);
      }
    }
  }
}
@media (min-width: 375px) {
  body::before {
    height: 485px;
  }
  .banner .img {
    top: -40px;
  }
}
@media (min-width: 425px) {
  body::before {
    height: 525px;
  }
  .banner .img {
    top: -65px;
  }
}
@media (min-width: 768px) {
  body::before {
    width: 680px;
    right: -250px;
    background-image: url("../assets/bg-intro-desktop.svg");
  }
  .banner {
    &__content {
      margin-top: 3em;
      padding-right: 2em;
      width: 50%;
      text-align: left;
    }
   .img {
    width: 480px;
    top: -30px;
    right: -85px;
   }
}
.cards, .articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  text-align: left;
}
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .header__container {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    place-items: center;
  }
  .header .nav {
    position: relative;
    all: unset;
    z-index: 100000;
    &__list {
      all: unset;
      display: flex;
      align-items: center;
      list-style-type: none;
    }
    
    &__item:not(:nth-child(5)) {
      margin-bottom: 0;
      margin-right: 1.5rem;
    }
    
    &__link {
      font-size: 1.2rem;
    }
  }
  .header .btn {
    display: block;
  }
  body::before {
    width: 1271px;
    right: -600px;
    top: -200px;
    height: 1034px;
    background-image: url("../assets/bg-intro-desktop.svg");
  }
  
    .banner {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 60vh;
      padding-top: 80px;
      &__content {
        margin-top: 0;
        width: 40ch;
      }
     .img {
      width: 550px;
      top: -30px;
      right: 0px;
     }
  }
  .why__us .paragraph {
    max-width: 50ch;
    margin:initial;
  }
  .banner, .why__us__content {
    text-align: left;
  }
  .cards, .articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    text-align: left;
  }
  .footer__container {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    place-items: start;
    .footer {
      &__nav {
        grid-column: 2/3;
        grid-row: 1 / -1;
      }
      &__list {
        column-count: 2;
      }
      &__item {
        text-align: left;
      }
    }
    .social {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .invite, .copyright {
      place-self: end;
    }
    .attribution {
      position: absolute;
      bottom: 1rem;
      left: 0rem;
      width: 100%;
      text-align: center;
    }
  }
}
@media (min-width: 1440px) {
  body::before {
    width: 1271px;
    right: -450px;
    top: -200px;
    height: 1034px;
    background-image: url("../assets/bg-intro-desktop.svg");
  }
  
    .banner {
      height: 90vh;
     .img {
      width: 750px;
      top: -80px;
      right: -100px;
     }
  }
}
@media (pointer: fine) {
  
  .nav__link,
  .footer__link,
  .social__icon {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
     
    }
  }
}